@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");

#loadWrapper {
  transition: 1s;
} 

#loadPercent {
  position: absolute;
  top: -3px;
  right: 20px;
}

#loadIcon {
  position: absolute;
  right: 0px;
  top: 0px;
  animation: bob 1s infinite;
}

#downScroll {
position: absolute;
top: 150px;
font-size: x-large;
animation: phaseDown 2s ease-in-out infinite;
}

#rightScroll {
position: absolute;
left: 370px;
top: -14px;
font-size: x-large;
animation: phaseRight 2s ease-in-out infinite;
}

@-webkit-keyframes phaseDown {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
    transform: translateY(8px);
  }

  100% {
    opacity: 0;
    transform: translateY(-8px);
  }
}

@keyframes phaseDown {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
    transform: translateY(8px);
  }

  100% {
    opacity: 0;
    transform: translateY(-8px);
  }
}

@-webkit-keyframes phaseRight {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  50% {
    opacity: 1;
    transform: translateX(8px);
  }

  100% {
    opacity: 0;
    transform: translateX(-8px);
  }
}

@keyframes phaseRight {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  50% {
    opacity: 1;
    transform: translateX(8px);
  }

  100% {
    opacity: 0;
    transform: translateX(-8px);
  }
}


.titleCard {
  position:sticky;
  left: 0;
  pointer-events: none;
}

.subtitle {
  margin-bottom: 10px;
  pointer-events: none;
}

.tableTitle {
  margin-top: 10px;
  margin-bottom: 20px!important;
  pointer-events: none;
}

td + td { 
 border-left: 1px rgba(255, 255, 255, 0.374) solid; 
}

.excelTableData {
  pointer-events: none;
}

.tableWrapper {
background-color: rgba(10,14,26, 0.8);
overflow: scroll;
pointer-events: all; 
width: 750px;
height: 500px;
margin: 0 auto;
position: absolute;
left: 50%;
top: 50%;
margin-left: -375px;
margin-top: -350px;
}

th, td {
padding: 15px;
text-align: center;
background-color: #2c232ed3;
color: #fff;
}

th {
position: sticky;
top: 0;
box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.6);
background-color: #101010;
pointer-events: none;
z-index: 8502;
} 

tr:hover {
background-color: rgba(144, 144, 144, 0.3);
}

td {
position: relative;
}
html, body {
overflow-x: hidden;
}

.logoImage {
color: #CCCCCC;
width: 30px;
height: 30px;
-webkit-transition:  color 0.5s;
-moz-transition:    color 0.5s;
-ms-transition:     color 0.5s;
-o-transition:      color 0.5s;
transition:         color 0.5s;

}

.logoImage:hover {
  color: #db6060;
  animation: fly 1s infinite; 
}

@-webkit-keyframes fly {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes fly {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.menu {
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow:visible;
}
.menu:after {
  content: "";
  display: table;
  clear: both;
}

.closeTab {
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: 200px;
  bottom: 10px;
  left: 10px;
  z-index: 8501;
  color: green;
  animation: bob 2s ease-in-out infinite;
  -webkit-animation: bob 2s ease-in-out infinite;
}

.hamburger {
  position: relative;
  margin: auto;
  z-index: 9500;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  float: left;
}

.hamburger:hover {
  background-color: white;
}

.hamburger.open {
  background-image: none;
}


.menuBg {
  background: rgba(10,14,26, 0.8);
  width: 3000px;
  height: 3000px;
  border-radius: 50%;
  z-index: 8000;
  position: fixed;
  left: 50%;
  bottom: auto;
  transform: translateY(-50%) translateX(-50%) scale(0.001);
  opacity: 0;
  pointer-events: none;
}

.mobileNav {
  pointer-events: none;
  position: fixed;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.mobileNav.fadeIn {
  z-index: 9000;
}
.mobileNav li {
  min-width: 600px;
  list-style-type: none;
  border-bottom: 1px solid #FFF;
  padding: 30px 15px;
}
.mobileNav li:last-child {
  border-bottom: none;
}
.mobileNav li a {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
}

.showMenu {
  -webkit-animation: showMenu 10s cubic-bezier(0.02, 1.25, 1, 1) forwards;
          animation: showMenu 10s cubic-bezier(0.02, 1.25, 1, 1) forwards;
}

@-webkit-keyframes showMenu {
  0% {
    transform: translateY(-50%) translateX(-50%) scale(0.001);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) translateX(-50%) scale(1);
    opacity: 1;
  }
}

@keyframes showMenu {
  0% {
    transform: translateY(-50%) translateX(-50%) scale(0.001);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) translateX(-50%) scale(1);
    opacity: 1;
  }
}
.hideMenu {
  -webkit-animation: hideMenu 0.25s cubic-bezier(0.02, 1.25, 1, 1) forwards;
          animation: hideMenu 0.25s cubic-bezier(0.02, 1.25, 1) forwards;
}

@-webkit-keyframes hideMenu {
  0% {
    transform: translateY(-50%) translateX(-50%) scale(1);
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) translateX(-50%) scale(0.001);
    opacity: 0;
  }
}

@keyframes hideMenu {
  0% {
    transform: translateY(-50%) translateX(-50%) scale(1);
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) translateX(-50%) scale(0.001);
    opacity: 0;
  }
}
.fadeIn {
  -webkit-animation: fadeIn 0.25s ease-in forwards;
          animation: fadeIn 0.25s ease-in forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bob {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bob {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/**/

body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #5C4C4D;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #656566;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color: #CCCCCC!important;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #7B6567;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #A38F91;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 90px;
  transition: all 0.5s;
  z-index: 997;
  background: rgba(52, 59, 64, 0.9);
}

#header #logo h1 {
  font-size: 32px;
  margin: 0;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #656566;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  background: rgba(52, 59, 64, 0.9);
  height: 70px;
  transition: all 0.5s;
}

#header.header-hidden {
  background: none!important;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero,
#searcher {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bgTop.png);
  background-size: cover;                      /* <------ */
  background-repeat: no-repeat;
  background-position: center center; 
  position: relative;
}

#searcher {
  background-image: url(../img/bgBot.png);
}

@media (min-width: 1024px) {
  #searcher,
  #hero {
    background-attachment: fixed;
  }
}

#searcher:before,
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#searcher .hero-container,
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#searcher h1,
#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #searcher h1,
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#searcher h2,
#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #hero h2
  #searcher h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#searcher .btn-get-started,
#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #CCCCCC;
  color: #CCCCCC;
}

#searcher .btn-get-started:hover,
#hero .btn-get-started:hover {
  background: #91787A;
  border: 2px solid #A38F91;
}

.form-label {
  color: #CCCCCC!important;
}

.form-control{
  background-color: #CCCCCC;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #999;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background:#4b4044;
  padding: 10px;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
} 

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #959595;
  position: absolute;
  margin-bottom: -60px;
}

#socialIcon {
  margin-bottom: 40px;
}